<%= render 'layouts/navigation', categories: @categories %>
<div class="row">
   <h3> <%= @category.name %></h3>
      <% @category.sins.each do |sin| %>
       <li> 
         <%= link_to sin.title, sin %> 
        </li>
    <% end %>
</div>